.College{
    background-color: rgb(247, 246, 239);
    border: 6px solid rgb(169, 226, 209) ;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 30px;
    
     border-radius: 20px;
     margin-top: 30px;
     margin-left: 40px;
     margin-right: 30px;
     margin-bottom: 30px;
     
     
            }
            .shubha{
                color: rgb(180, 65, 15);
            }
            #department{
                color:rgb(163, 140, 7);
            }
            #dpi{
                color: rgb(243, 46, 11);
            }
            .College p{
                text-align: justify;
            }
            .College h2{
                font-size: 2em;
                font-weight: 300;
                font-style: unset;
                font-family: 'Courier New', Courier, monospace;
            }